/* For testing only */

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

*:not(body):not(html) {
  box-sizing: border-box;
  /*border:1px dashed #000;*/
}

/* End for testing */

/*mobile*/

body {
  background: lightpink;
  border: 3px solid purple;
  width: 100vw;
  height: 100vh;
}

.nav {
  border: 2px dashed blue;
  width: 60%;
  padding: 5px;
  overflow: auto;
}

.link {
  border: 1px solid green;
  width: 28%;
  /*float: left;*/
  display: inline-block;
  margin: 1%;
}

.featured-headlines {
  border: 1px solid red;
  width: 90%;
  padding: 5px;
}

.headline {
  border: 1px dashed grey;

}

/* media queries */

/*tablet*/
@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}

/*laptop*/
@media screen and (min-width: 1025px) {
  body {
    background-color: lightyellow;
  }

}
